<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>language</string>
		<key>objects</key>
		<array>
			<dict>
				<key>displayName</key>
				<string>English</string>
				<key>code</key>
				<string>en</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Deutsch</string>
				<key>code</key>
				<string>de</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Français</string>
				<key>code</key>
				<string>fr</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Italiano</string>
				<key>code</key>
				<string>it</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Svenska</string>
				<key>code</key>
				<string>se</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Norsk</string>
				<key>code</key>
				<string>no</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Nederlands</string>
				<key>code</key>
				<string>nl</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Dansk</string>
				<key>code</key>
				<string>da</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Indonesian</string>
				<key>code</key>
				<string>id</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Suomi</string>
				<key>code</key>
				<string>fi</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Español</string>
				<key>code</key>
				<string>es</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Português</string>
				<key>code</key>
				<string>pt</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Русский</string>
				<key>code</key>
				<string>ru</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Polski</string>
				<key>code</key>
				<string>pl</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>العربية</string>
				<key>code</key>
				<string>ar</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>עִבְרִית</string>
				<key>code</key>
				<string>he</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Slovenčina</string>
				<key>code</key>
				<string>sk</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Český</string>
				<key>code</key>
				<string>cs</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>Türkçe</string>
				<key>code</key>
				<string>tr</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>繁體中文</string>
				<key>code</key>
				<string>tw</string>
			</dict>
			<dict>
				<key>displayName</key>
				<string>日本語</string>
				<key>code</key>
				<string>ja</string>
			</dict>
			<dict>
				<key>code</key>
				<string>vi</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
